body {
  background-color: white;
  margin: 0;
  color: #1E23EA;

}

.cvcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: center;
  position: fixed;
}



.cv:hover {
  /* margin: 1%; */
  */: ;
  font-family: sans-serif;
  /* top: 0; */
  /* right: 0; */
  color: black;
  width: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  height: 50px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  font-weight: bolder;
  border-style: solid;
  justify-content: flex-end;
  flex-direction: row;
  align-content: flex-end;
  decoration: underline;
}

svg {
  color: white;
  width: 100%;
  height: 50%;
}

.titlecontainer {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  animation: fadeIn 2s;
  justify-content: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

h1 {
  font-family: sans-serif;
  letter-spacing: -.9vw;
  margin-bottom: 3%;
  font-weight: bolder;
  font-size: calc(4vw + 4vh);


}

h2 {
  margin: 0;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bolder;
  margin-bottom: 3%;
  margin-top: 3%;
  letter-spacing: -2;
  text-align: justify;
  line-height: 100%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

p {
  font-family: sans-serif;
  letter-spacing: -.5;
  font-family: 'ClashDisplay-Regular';

}

li {
  font-family: sans-serif;
  font-size: 40px;
  padding: 50px;
  list-style: none;
  letter-spacing: -1;
  color: blue;
  font-family: 'ClashDisplay-semibold';
}

sup {
font-style: italic;
justify-content: flex-end;
}

.listcontainer {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  margin-top: 3%;
}

.emphasize {
  font-style: italic;
  font-family: 'ClashDisplay-semibold';
  font-size: 20pt;
  vertical-align: super;

}

.emphasize2 {
  font-style: italic;
  font-family: 'ClashDisplay-semibold';
}

hr {
  width: 100%;
  padding: 1;
  background-color: blue;
}

#subtitlecontainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: 1%;
}

#subtitle {
  display: flex;
  width: 100%;
  animation: fadeIn 2s;
  height: 100%;
  border-radius: 100%;
  opacity: 1;
  align-items: center;
  font-size: 70pt;
  font-family: 'ClashDisplay-Semibold', serif;
  line-height: 65pt;

}

.conqcontainer {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* width: 100%; */
  justify-content: center;
}

.liconq {
  transition: margin-left ease 0.5s;
  left: 0;
  font-size: 2em;
  padding-left: 0.4em;
}

.liconq:hover>.imgconq {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgconq {
  z-index: 1;
      /* left: -30; */
      padding: 0;
      margin-left: 0;
      width: 0%;
}

.conqabout {
  display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.conqaboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;


}

.conqinfo {
  display: flex;
  display: flex;
  width: 30vw;
  align-content: center;
  text-align: justify;
  flex-direction: column-reverse;
  justify-content: center;
}

.conq {
  width: 40vw;
  display: flex;
}

.ligrounded {
  transition: margin-left ease 0.5s;
  left: 0;
  font-size: 2em;
  padding-left: 0.4em;
}

.ligrounded:hover>.imggrounded {
  display: flex;
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imggrounded {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.groundedcontainer {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* width: 100%; */
  justify-content: center;
}

.groundedaboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.groundedbout {
  width: 10vw;
}

.groundedinfo {
  display: flex;
  display: flex;
  width: 30vw;
  align-content: center;
  text-align: justify;
  flex-direction: column-reverse;
  justify-content: center;
}

.grounded {
  width: 40vw;
    display: flex;
}

.atgthrcontainer {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* width: 100%; */
  justify-content: center;
}

.liatgthr {
  transition: margin-left ease 0.5s;
left: 0;
font-size: 2em;
padding-left: 0.4em;
}

.liatgthr:hover>.imgatgthr {
  display: flex;
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgatgthr {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.atgthrbout {
}

.atgthrboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.atgthrinfo {
  display: flex;
  display: flex;
  width: 30vw;
  align-content: center;
  text-align: justify;
  flex-direction: column-reverse;
  justify-content: center;
}

.atgthr {
  width: 40vw;
      display: flex;
}

.sicontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.lisi {
  transition: margin-left ease 0.5s;
  left: 0;
}

.lisi:hover>.imgsi {
  display: flex;
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgsi {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.sibout {
  left: 20%;
}

.siboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.siinfo {
  display: flex;
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.si {
  width: 500;
}

.talltalescontainer {
  display: flex;
    flex-direction: row-reverse;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /* width: 100%; */
    justify-content: center;
}

.litalltales {
  transition: margin-left ease 0.5s;
      left: 0;
      font-size: 2em;
      padding-left: 0.4em;
}

.litalltales:hover>.imgtalltales {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgtalltales {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.talltalesboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;}

.talltalesinfo {
  display: flex;
  width: 30vw;
  align-content: center;
  text-align: justify;
  flex-direction: column-reverse;
  justify-content: center;
}

.talltales {
  width: 40vw;
display: flex;
}

.metoocontainer {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* width: 100%; */
  justify-content: center;
}

.limetoo {
  transition: margin-left ease 0.5s;
  left: 0;
  font-size: 2em;
  padding-left: 0.4em;}

.limetoo:hover>.imgmetoo {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgmetoo {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.metooboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}


.metooinfo {
  display: flex;
      display: flex;
      width: 30vw;
      align-content: center;
      text-align: justify;
      flex-direction: column-reverse;
      justify-content: center;}

.metoo {
  width: 40vw;
      display: flex;
    }

.emocontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.liemo {
  transition: margin-left ease 0.5s;
  left: 0;
}

.liemo:hover>.imgemo {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgemo {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.emoboutcontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;}

}

.emoinfo {
  display: flex;
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.emo {
  width: 500;
}

.cutitcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.licutit {
  transition: margin-left ease 0.5s;
  left: 0;
}

.licutit:hover>.imgcutit {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgcutit {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.cutitboutcontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;}

}

.cutitinfo {
  display: flex;
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.cutit {
  width: 500;
}

.deepincontainer {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* width: 100%; */
  justify-content: center;
}

.lideepin {
  transition: margin-left ease 0.5s;
    left: 0;
    font-size: 2em;
    padding-left: 0.4em;
}

.lideepin:hover>.imgdeepin {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgdeepin {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.deepinboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.deepininfo {
  display: flex;
  display: flex;
  width: 30vw;
  align-content: center;
  text-align: justify;
  flex-direction: column-reverse;
  justify-content: center;
}

.deepin {
  width: 40vw;
display: flex;
}

.alonecontainer {
  display: flex;
    flex-direction: row-reverse;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /* width: 100%; */
    justify-content: center;

}

.lialone {
  transition: margin-left ease 0.5s;
  left: 0;
  font-size: 2em;
  padding-left: 0.4em;
}

.lialone:hover>.imgalone {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgalone {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.aloneboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.aloneinfo {
  display: flex;
      display: flex;
      width: 30vw;
      align-content: center;
      text-align: justify;
      flex-direction: column-reverse;
      justify-content: center;}

.alone {
  width: 40vw;
  display: flex;
}

.aloneabout {
  display: flex;
flex-direction: column;
justify-content: flex-end;
}
.wigcontainer {
  display: flex;
    flex-direction: row-reverse;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /* width: 100%; */
    justify-content: center;
}

.liwig {
  transition: margin-left ease 0.5s;
      left: 0;
      font-size: 2em;
      padding-left: 0.4em;
}

.liwig:hover>.imgwig {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgwig {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.wigboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.wiginfo {
  display: flex;
      display: flex;
      width: 30vw;
      align-content: center;
      text-align: justify;
      flex-direction: column-reverse;
      justify-content: center;
}

.wig {
  width: 40vw;
      display: flex;
}

.omrcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.liomr {
  transition: margin-left ease 0.5s;
  left: 0;
}

.liomr:hover>.imgomr {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgomr {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.omrboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.omrinfo {
  display: flex;
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.omr {
  width: 500;
}

.heatcontainer {
  display: flex;
      flex-direction: row-reverse;
      align-content: center;
      align-items: center;
      flex-wrap: nowrap;
      /* width: 100%; */
      justify-content: center;
}

.liheat {
  transition: margin-left ease 0.5s;
      left: 0;
      font-size: 2em;
      padding-left: 0.4em;
    }

.liheat:hover>.imgheat {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgheat {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.heatboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.heatinfo {
  display: flex;
      display: flex;
      width: 30vw;
      align-content: center;
      text-align: justify;
      flex-direction: column-reverse;
      justify-content: center;
  }

.heat {
  width: 40vw;
      display: flex;
  }

.outcontainer {
  display: flex;
      flex-direction: row-reverse;
      align-content: center;
      align-items: center;
      flex-wrap: nowrap;
      /* width: 100%; */
      justify-content: center;
}

.liout {
  transition: margin-left ease 0.5s;
  left: 0;
  font-size: 2em;
  padding-left: 0.4em;
}

.liout:hover>.sout {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgout {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.outheat {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.outboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.outinfo {
  display: flex;
      display: flex;
      width: 30vw;
      align-content: center;
      text-align: justify;
      flex-direction: column-reverse;
      justify-content: center;}

.out {
  width: 40vw;
  display: flex;}

.smoothcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.lismooth {
  transition: margin-left ease 0.5s;
  left: 0;
}

.lismooth:hover>.imgsmooth {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgsmooth {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.smoothheat {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.smoothboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.smoothinfo {
  display: flex;
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.smooth {
  width: 500;
}

.cymaticcontainer {
  display: flex;
      flex-direction: row-reverse;
      align-content: center;
      align-items: center;
      flex-wrap: nowrap;
      /* width: 100%; */
      justify-content: center;}

.licymatic {
  transition: margin-left ease 0.5s;
  left: 0;
  font-size: 2em;
  padding-left: 0.4em;
}

.licymatic:hover>.imgcymatic {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgcymatic {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.cymaticheat {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.cymaticaboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.cymaticinfo {
  display: flex;
      display: flex;
      width: 30vw;
      align-content: center;
      text-align: justify;
      flex-direction: column-reverse;
      justify-content: center;
    }

.cymatic {
  width: 40vw;
  display: flex;
}

.knowcontainer {
  display: flex;
      flex-direction: row-reverse;
      align-content: center;
      align-items: center;
      flex-wrap: nowrap;
      /* width: 100%; */
      justify-content: center;}

.liknow {
  transition: margin-left ease 0.5s;
  left: 0;
  font-size: 2em;
  padding-left: 0.4em;
}

.liknow:hover>.imgknow {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgknow {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.knowheat {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.knowboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%; }


.knowinfo {
  display: flex;
  display: flex;
  width: 30vw;
  align-content: center;
  text-align: justify;
  flex-direction: column-reverse;
  justify-content: center;}

.know {
  width: 40vw;
      display: flex;}






      .fuzecontainer {
        display: flex;
        flex-direction: row-reverse;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
        /* width: 100%; */
        justify-content: center;
      }

      .lifuze {
        transition: margin-left ease 0.5s;
        left: 0;
        font-size: 2em;
        padding-left: 0.4em;}

      .lifuze:hover>.imgfuze {
        margin-left: 0px;
        opacity: 100;
        display: inline;
        position: inherit;
        vertical-align: middle;
        padding-right: 10;
        padding-top: 0;
        padding-bottom: 0;
        width: 50px;
        -webkit-transition: all 1s ease;
      }

      .imgfuze {
        z-index: 1;
        /* left: -30; */
        padding: 0;
        margin-left: 0;
        width: 0%;
      }

      .fuzeboutcontainer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        /* padding-left: 10%; */
        align-items: center;
        /* flex-wrap: nowrap; */
        /* height: 50%; */
        min-height: 10%;
        width: 50;
        align-content: space-between;
        left: 100%;
      }


      .fuzeinfo {
        display: flex;
            display: flex;
            width: 30vw;
            align-content: center;
            text-align: justify;
            flex-direction: column-reverse;
            justify-content: center;}

      .fuze {
        width: 40vw;
            display: flex;
          }








a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

.top {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'ClashDisplay-semibold';
  color: blue;
  padding: 1%;
  font-size: 80px;
  margin-top: 0%;

}

.bot {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'ClashDisplay-semibold';
  color: blue;
  padding: 1%;
  font-size: 30px;
  margin-top: 3%;

}

.imgdiv {
  display: flex
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0px;
  z-index: 1;
  font-family: sans-serif;
  margin-left: 1%;
  font-weight: normal;
  display: flex;
  letter-spacing: -10%;
  /* margin: 0; */
  align-items: center;
  background-color: white;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.fa {
  padding: 20px;
  font-size: 30px;
  height: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 100%;

}

.fa-linkedin {
  background: #white;
  color: blue;
}

.fa-instagram {
  background: #white;
  color: blue;
}

.iconcon {
  display: flex;
      justify-content: flex-end;
      width: 100%;
      align-items: center;

}


.name {
  width: 5%;
  height: 5%;
  font-family: 'ClashDisplay-Regular';
  margin-left: 1%;

}

.logo {
  width: 10%;
}

.row {
display: flex;
flex-wrap: wrap;
padding: 0 4px;
justify-content: center;
}

.row {
display: flex;
flex-wrap: wrap;
padding: 0 4px;
justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {
flex: 25%;
max-width: 35%;
padding: 0 10px;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
  flex: 50%;
  max-width: 50%;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
  flex: 100%;
  max-width: 100%;
}
}

.cv {

  font-family: sans-serif;
      background-color: white;
      /* top: 0; */
      /* right: 0; */
      color: blue;
      width: 50px;
      text-align: center;
      text-decoration: none;
      font-size: 10px;
      height: 40px;
      border-radius: 20px;
      align-items: center;
      display: flex;
      font-weight: bolder;
      border-width: 1.5px;
      border-style: solid;
      border-color: white;
      justify-content: flex-end;
      flex-direction: row;
      align-content: flex-end;
      margin-right: 1%;
      stroke: blue;
      stroke-width: .3;
      fill: blue;
}

.name {
  width: 100%;
}




.image-gallery {
  /* Mobile first */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-gallery .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



@media only screen and (min-width: 768px) {
  .image-gallery {
    flex-direction: row;
  }
}

.aboutwrapper {

}

.aboutcontainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
}

.about {
  width: 50%;
  font-size: 2vw;
  font-family: 'ClashDisplay-regular', serif;


}

@media screen and (max-width: 600px) {
  .about {
    font-size: 20px;
  }
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

@media (prefers-reduced-motion: no-preference) {
  .about-animation {
    animation: wipe-enter 1s 1;
  }
}

.button {
  background-color: grey;
}







.image-pic {
  flex: 1 0 28%;
  min-width: 200px;
  cursor: pointer;
}

.image-pic img {
  width: 100%;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.79, 0.25, 0, 1.07);
}

.image-pic:is(:hover, :focus) img {
  transform: scale(1.03);
}


.button {
appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    border: none;
  }

  @font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('font2/fonts/ClashDisplay-Semibold.woff2') format('woff2'),
         url('font2/fonts/ClashDisplay-Semibold.woff') format('woff'),
         url('font2/fonts/ClashDisplay-Semibold.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
  }

  @font-face {
    font-family: 'ClashDisplay-Regular';
    src: url('font2/fonts/ClashDisplay-Regular.woff2') format('woff2'),
         url('font2/fonts/ClashDisplay-Regular.woff') format('woff'),
         url('font2/fonts/ClashDisplay-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }


  @font-face {
      font-family: 'behrensmeyervigesimalsw01Rg';
      src: url('font1/behrensmeyer_vigesimals_w01_rg-webfont.woff2') format('woff2'),
           url('font1/behrensmeyer_vigesimals_w01_rg-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;

  }
.accent {
    font-family: 'snellroundhand-blackscript-webfont', serif;
  }


  h1 {
    font-family: 'ClashDisplay-Semibold', serif;
    letter-spacing: normal;
    text-align: justify;
    font-size: 100pt;
    margin-bottom: 0;
    line-height: 120px;

  }

  @font-face {
      font-family: 'snellroundhand-blackscript-webfont';
      src: url('font3/snellroundhand-blackscript-webfont.woff2') format('woff2'),
           url('font3/snellroundhand-blackscript-webfont.woff2') format('woff');
      font-weight: normal;
      font-style: normal;

  }

.animabtcon {
  display: flex;
  justify-content: center;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);



button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: blue;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px blue;
  max-width: 768px;
  margin: 60px auto;
  position: relative;

}

form {
  padding: 37.5px;
  margin: 50px 0;
}

.formh1 {
  color: blue;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;

  font-family: 'ClashDisplay-semibold';

}

.underline {
  border-bottom: solid 2px blue;
  margin: -0.512em auto;
  width: 80px;
  margin-bottom: 5%;
}

.underlinetop {
  border-bottom: solid 2px blue;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.icon {
  display: block;
  fill: blue;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
  font-family: 'ClashDisplay-semibold';

}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: blue;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
  font-family: 'ClashDisplay-semibold';

}

.name {
	float: left;
	width: 45%;
  font-family: 'ClashDisplay-semibold';

}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
  font-family: 'ClashDisplay-semibold';

}

.telephone {
  width: 100%;
  font-family: 'ClashDisplay-semibold';

}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: blue;
}

:-moz-placeholder {
	color: blue;
	opacity: 1;
}

::-moz-placeholder {
	color: blue;
	opacity: 1;
}

:-ms-input-placeholder {
	color: blue;
}

#form_button {
  background: none;
  border: solid 2px blue;
  color: blue;
  cursor: pointer;
  display: inline-block;
  font-family: 'ClashDisplay-semibold';
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: blue;
  color: blue;

}

.container {
  margin-bottom: 5%;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  .underline {
    width: 68px;
  }

  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }

  .icon {
    height: 35px;
    width: 35px;
  }

  .underline {
    width: 53px;
  }

  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}

.vidabout {
  margin-left: 1%;
}
