body {
  background-color: white;
  margin: 8px;
}

.cvcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: center;
  position: fixed;
}



.cv:hover {
  /* margin: 1%; */
  */: ;
  font-family: sans-serif;
  background-color: white;
  /* top: 0; */
  /* right: 0; */
  color: black;
  width: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  height: 50px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  font-weight: bolder;
  border-width: 1.5px;
  border-style: solid;
  border-color: black;
  justify-content: flex-end;
  flex-direction: row;
  align-content: flex-end;
  filter: invert(1);
}

svg {
  color: white;
  width: 100%;
  height: 50%;
}

.titlecontainer {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  animation: fadeIn 2s;
  justify-content: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

h1 {
  font-family: sans-serif;
  letter-spacing: -.9vw;
  margin-top: 1%;
  margin-bottom: 3%;
  font-weight: bolder;
  font-size: calc(4vw + 4vh);


}

h2 {
  margin: 0;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bolder;
  margin-bottom: 3%;
  margin-top: 3%;
  letter-spacing: -2;
  text-align: justify;
  line-height: 100%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

p {
  font-family: sans-serif;

}

li {
  font-family: sans-serif;
  font-size: 40px;
  padding: 50px;
  list-style: none;
  letter-spacing: -3;
}

.listcontainer {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  margin-top: 3%;
}

hr {
  width: 100%;
  padding: 0;
}

#subtitlecontainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: 1%;
}

#subtitle {
  display: flex;
  width: 100%;
  animation: fadeIn 2s;
  height: 100%;
  border-radius: 100%;
  opacity: 1;
  align-items: center;
}

.conqcontainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    max-width: 120vw;
    flex-wrap: nowrap;
    margin: 0;
    align-items: center;
}

.liconq {
  transition: margin-left ease 0.5s;
  left: 0;
  font-size: 2em;
  /* padding-right: 5vw; */
  padding-left: 0;
  width: 30vw;
}

.liconq:hover>.imgconq {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgconq {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.conqabout {
left: 20%;
}

.conqaboutcontainer {
  display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      /* padding-left: 10%; */
      align-items: center;
      /* flex-wrap: nowrap; */
      /* height: 50%; */
      min-height: 10%;
      width: 10vw;
      /* width: 20vw; */
      align-content: space-between;
      /* left: 100%; */

}

.conqinfo {
      display: flex;
      align-content: center;
      width: 30vw;
      justify-content: center;
      flex-direction: row;
      flex-wrap: nowrap;
      /* margin-left: 2vw; */
      align-items: center;
}

.conq {
  width: 30vw;
}

.ligrounded {
  transition: margin-left ease 0.5s;
  left: 0;
}

.ligrounded:hover>.imggrounded {
  display: flex;
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imggrounded {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.groundedcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.groundedaboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.groundedbout {
  left: 20%;
}

.groundedinfo {
  display: flex;
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.grounded {
  width: 500;
}

.atgthrcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.liatgthr {
  transition: margin-left ease 0.5s;
  left: 0;
}

.liatgthr:hover>.imgatgthr {
  display: flex;
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgatgthr {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.atgthrbout {
  left: 20%;
}

.atgthrboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.atgthrinfo {
  display: flex;
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.atgthr {
  width: 500;
}

.sicontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.lisi {
  transition: margin-left ease 0.5s;
  left: 0;
}

.lisi:hover>.imgsi {
  display: flex;
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgsi {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.sibout {
  left: 20%;
}

.siboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.siinfo {
  display: flex;
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.si {
  width: 500;
}

.talltalescontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.litalltales {
  transition: margin-left ease 0.5s;
  left: 0;
}

.litalltales:hover>.imgtalltales {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgtalltales {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.talltalesboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.talltalesinfo {
  display: flex;
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.talltales {
  width: 500;
}

.metoocontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.limetoo {
  transition: margin-left ease 0.5s;
  left: 0;
}

.limetoo:hover>.imgmetoo {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgmetoo {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.metooboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.metooinfo {
  display: flex;
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.metoo {
  width: 500;
}

.emocontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.liemo {
  transition: margin-left ease 0.5s;
  left: 0;
}

.liemo:hover>.imgemo {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgemo {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.emoboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.emoinfo {
  display: flex;
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.emo {
  width: 500;
}

.cutitcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.licutit {
  transition: margin-left ease 0.5s;
  left: 0;
}

.licutit:hover>.imgcutit {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgcutit {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.cutitboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
  deepin
}

.cutitinfo {
  display: flex;
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.cutit {
  width: 500;
}

.deepincontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.lideepin {
  transition: margin-left ease 0.5s;
  left: 0;
}

.lideepin:hover>.imgdeepin {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgdeepin {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.deepinboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.deepininfo {
  display: flex;
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.deepin {
  width: 500;
}

.alonecontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.lialone {
  transition: margin-left ease 0.5s;
  left: 0;
}

.lialone:hover>.imgalone {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgalone {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.aloneboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.aloneinfo {
  display: flex;
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.alone {
  width: 500;
}

.wigcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.liwig {
  transition: margin-left ease 0.5s;
  left: 0;
}

.liwig:hover>.imgwig {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgwig {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.wigboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.wiginfo {
  display: flex;
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.wig {
  width: 500;
}

.omrcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.liomr {
  transition: margin-left ease 0.5s;
  left: 0;
}

.liomr:hover>.imgomr {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgomr {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.omrboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.omrinfo {
  display: flex;
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.omr {
  width: 500;
}

.heatcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.liheat {
  transition: margin-left ease 0.5s;
  left: 0;
}

.liheat:hover>.imgheat {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgheat {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.heatboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  /* padding-left: 10%; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* height: 50%; */
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.heatinfo {
  display: flex;
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.heat {
  width: 500;
}

.outcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.liout {
  transition: margin-left ease 0.5s;
  left: 0;
}

.liout:hover>.imgout {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgout {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.outheat {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.outboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.outinfo {
  display: flex;
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.out {
  width: 500;
}

.smoothcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.lismooth {
  transition: margin-left ease 0.5s;
  left: 0;
}

.lismooth:hover>.imgsmooth {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgsmooth {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.smoothheat {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.smoothboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.smoothinfo {
  display: flex;
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.smooth {
  width: 500;
}

.cymaticcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.licymatic {
  transition: margin-left ease 0.5s;
  left: 0;
}

.licymatic:hover>.imgcymatic {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgcymatic {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.cymaticheat {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.cymaticaboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.cymaticinfo {
  display: flex;
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.cymatic {
  width: 500;
}

.knowcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.liknow {
  transition: margin-left ease 0.5s;
  left: 0;
  font-size: 30px;
}

.liknow:hover>.imgknow {
  margin-left: 0px;
  opacity: 100;
  display: inline;
  position: inherit;
  vertical-align: middle;
  padding-right: 10;
  padding-top: 0;
  padding-bottom: 0;
  width: 50px;
  -webkit-transition: all 1s ease;
}

.imgknow {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.knowheat {
  z-index: 1;
  /* left: -30; */
  padding: 0;
  margin-left: 0;
  width: 0%;
}

.knowboutcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  min-height: 10%;
  width: 50;
  align-content: space-between;
  left: 100%;
}

.knowinfo {
  display: flex;
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.know {
  width: 500;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.top {
  display: flex;
  justify-content: center;
}

.imgdiv {
  display: flex
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0px;
  z-index: 1;
  margin: 2%;
  font-family: sans-serif;
  margin-left: 1%;
  font-weight: normal;
  display: flex;
  letter-spacing: -10%;
  /* margin: 0; */
  align-items: center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.fa {
  padding: 20px;
  font-size: 30px;
  height: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 100%;

}

.fa-linkedin {
  background: #white;
  color: black;
}

.fa-instagram {
  background: #white;
  color: black;
}

.iconcon {
  display: flex;
      justify-content: flex-end;
      width: 100%;

}

.cv {
  /* margin: 1%; */
  font-family: sans-serif;
  background-color: white;
  /* top: 0; */
  /* right: 0; */
  color: black;
  width: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  height: 50px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  font-weight: bolder;
  border-width: 1.5px;
  border-style: solid;
  border-color: black;
  justify-content: flex-end;
  flex-direction: row;
  align-content: flex-end;
}

.name {
  width: 100%;
}

.row {
display: flex;
flex-wrap: wrap;
padding: 0 4px;
    justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {
flex: 25%;
max-width: 25%;
padding: 0 4px;
}

.column img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}

.column video {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
  flex: 50%;
  max-width: 50%;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
  flex: 100%;
  max-width: 100%;
}

.cv {
  /* margin: 1%; */
  font-family: sans-serif;
  background-color: white;
  /* top: 0; */
  /* right: 0; */
  color: black;
  width: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  height: 50px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  font-weight: bolder;
  border-width: 1.5px;
  border-style: solid;
  border-color: black;
  justify-content: flex-end;
  flex-direction: row;
  align-content: flex-end;
}

.name {
  width: 100%;
}

.row {
display: flex;
flex-wrap: wrap;
padding: 0 4px;
    justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {
flex: 25%;
max-width: 25%;
padding: 0 4px;
}

.column img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}

.column video {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}
